@import 'colors';
.discStyle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-Items: center;
    font-size: 0.5rem;
    display: flex;
    opacity: 0;

    &.white{
        background-color: white;
        color: black
    }

    &.black{
        background-color: black;
        color: white
    }

    &.show{
        opacity: 1;
        visibility: visible;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    &.hidden{
        visibility: hidden;
    }

    &.placed{
        border: 2px solid $LIGHT_PINK;
    }

    &.flipped{
        border: 2px solid $LIGHT_GREEN;
    }

}

