@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Cutive+Mono|Faster+One&display=swap');
@import 'colors';

.othello-cell {
    font-family: 'Cutive Mono', cursive;
    font-size: 1rem;
    background-color: $DARK_GREEN;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    font-family: 'Cutive Mono', cursive;
}

.modal-title {
    font-size: 2rem;
}

.modal-body {
    font-size: 1rem;
}

.modal-footer {
    font-size: 1rem;
}

.othello-main{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: $LIGHT_PINK;
    /* opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    visibility: hidden; */
}

.othello-main.show{
    visibility: visible;
    opacity: 1;
}
