@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Cutive+Mono|Faster+One&display=swap');
@import 'colors';

.navbar-title {
    font-family: 'Faster One', cursive;
    font-size: 1.5rem;
}

.navbar-text {
    font-family: 'Cutive Mono', cursive;
    font-size: 0.9rem;
    font-weight: bold;
}

.othello-cell {
    font-family: 'Cutive Mono', cursive;
    font-size: 1rem;
    background-color: $DARK_GREEN;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: $NORMAL_GREEN;
    &.show {
        visibility: visible;
        opacity: 1;
        height: 100vh;
    }
    &.hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.cover-title {
    font-family: 'Faster One', cursive;
    font-size: 4rem;
    color: $LIGHT_PINK;
}

.cover-information{
    font-family: 'Cutive Mono', cursive;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px
}

.cover-button {
    font-family: 'Cutive Mono', cursive;
    font-size: 1rem;
}

.modal {
    font-family: 'Cutive Mono', cursive;
}

.modal-title {
    font-size: 2rem;
}

.modal-body {
    font-size: 1rem;
}

.modal-footer {
    font-size: 1rem;
}

.othello-main{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: $LIGHT_PINK;
    /* opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    visibility: hidden; */
}

.othello-main.show{
    visibility: visible;
    opacity: 1;
}
