@import 'colors';

.navbar{
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: $DARK_PINK;
    height: $NAVBAR_HEIGHT_PX;
    .navbar-title{
        color: $LIGHT_GREEN;
        font-family: 'Faster One', cursive;
        font-size: 1.5rem;

    }
    .navbar-text{
        color: $LIGHT_GREEN;
        font-family: 'Cutive Mono', cursive;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .button-login{
        font-family: 'Cutive Mono', cursive;
    }
}

.navbar-sub{
    position: absolute;
    top: $NAVBAR_HEIGHT_PX;
    height: $NAVBAR_HEIGHT_PX;
    background-color: $MEDIUM_PINK;
    .score{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cutive Mono', cursive;   
    }
    .vs{
        font-size: 1.5rem;
        margin: 5px;
        font-family: 'Cutive Mono', cursive;
    }
}
