@import 'colors';

.player-main{
    border: 1px black solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    &.black{
        background-color: black;
        color: white;
    }

    &.white{
        background-color: white;
        color: black;

    }

    &.gray{
        background-color: gray;
        color: gray;
    }
}

.player-current{
    border-bottom: 4px solid red;
}